$primary-font: 'Space Grotesk', sans-serif;

body {
    margin: 0;
    font-family: $primary-font;
}

p, h1, h2, h3, h4, h5, h6, select, input, textarea, a {
    font-style: normal;
    margin: 0;
    font-family: $primary-font;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

h1, .h1 {
    font-size: 96px;
    line-height: 1.167;
    font-family: $primary-font;
}

h2, .h2 {
    font-family: $primary-font;
    font-size: 60px;
    line-height: 1.2;
}

h3, .h3 {
    font-family: $primary-font;
    font-size: 48px;
    line-height: 1.167;
}

h4, .h4 {
    font-family: $primary-font;
    font-size: 34px;
    line-height: 1.235;
}

h5, .h5 {
    font-family: $primary-font;
    font-size: 24px;
    line-height: 1.334;
}

h5, .h5 {
    font-family: $primary-font;
    font-size: 24px;
    line-height: 1.334;
}

h6, .h6 {
    font-family: $primary-font;
    font-size: 20px;
    line-height: 1.6;
}

p, .p {
    font-size: 16px;
    line-height: 1.75;

    &--sm {
        font-size: 14px;
        line-height: 1.43;
    }

    &--xs {
        font-size: 12px;
        line-height: 1.66;
    }
}
